<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>FusionCharts Sample</title>
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
    {{!-- jQuery --}}
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/temperatura">Temperatura</a></li>
            <li><a href="/humedad">Humedad</a></li>
            <li><a href="/movimiento">Movimiento</a></li>
            <li><a href="/api">API</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {{!-- Main Container --}}
    <div class="container">
      {{{body}}}
    </div>
    {{!-- Bootstrap JS --}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {{!-- Handlebars --}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    {{!-- Fusioncharts.js --}}
    <script src="/public/js/fusioncharts.js"></script>
    <script src="/public/js/fusioncharts.charts.js"></script>
    <script src="/public/js/fusioncharts.theme.zune.js"></script>
</body>
</html>