<div>
	<h1>API</h1>
</div>
<div>
	<ul>
		<li><a href="api/temperatura">Temperatura</a></li>
		<li><a href="api/movimiento">Movimiento</a></li>
		<li><a href="api/humedad">Humedad</a></li>
	</ul>
</div>