<form method="POST" action="">
	
	<label for="tipo">Tipo</label>
	<select name="tipo" id="tipo">
		<option value="Temperatura">Temperatura</option>
		<option value="Humedad">Humedad</option>
		<option value="Movimiento">Movimiento</option>
	</select>
	<br>
	<label for="dato">Dato</label>
	<input name="dato" id="dato" type="number">
	<br>
	<input type="submit" value="enviar">

</form>