<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut necessitatibus repellat, molestiae harum ipsa! Debitis aspernatur, corrupti, deleniti, tempora quos sequi in vel quis veritatis ullam fuga harum laudantium commodi iure illum et laborum eligendi distinctio dolor aliquid, amet ducimus omnis tenetur. Quasi aspernatur doloremque voluptatibus, quis dolores aliquid corporis fugit magni. A officiis, voluptate non quas totam. Aperiam iure mollitia aspernatur ea, beatae assumenda, tenetur vel ducimus quibusdam tempora. Eveniet iste maiores provident nihil quas maxime, unde magni minus doloremque fuga ea voluptate eos culpa iusto id error deserunt mollitia aspernatur fugiat debitis inventore nostrum! Culpa optio sequi repellendus!</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>