extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method="post" action="/create")
    label(for="comment") Agregar 5,000 datos aleatorios:
    input(type="submit", value="Save")
  br
  - for dato in datos
    p= dato.title