extends layout

block content
    .navbar-fixed
      nav
        .nav-wrapper.blue.darken-2
          a.brand-logo(href='/') Proyecto Integrador
          ul#nav-mobile.right.hide-on-med-and-down
            li
              a(href='/temperature') Temperature
            li
              a(href='/humidity') Humidity
            li
              a(href='/movement') Movement
    main
      section
        .container
          canvas#Chart(width='400', height='400')
          form(method="post" action="/create")
            label(for="comment") Agregar 5,000 datos aleatorios:
            input(type="submit", value="Save")
          - for dato in datos
            div
              p= dato.id
              p= dato.tipo
              p= dato.dato
              p= dato.fecha          
    footer.page-footer.blue.darken-4
      .container
        .row
          .col.l6.s12
            h5.white-text Footer
            p.grey-text.text-lighten-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ipsum.
          .col.l4.offset-l2.s12
            h5.white-text Links
            ul
              li
                a.grey-text.text-lighten-3(href='#!') Link 1
              li
                a.grey-text.text-lighten-3(href='#!') Link 2
              li
                a.grey-text.text-lighten-3(href='#!') Link 3
              li
                a.grey-text.text-lighten-3(href='#!') Link 4
      .footer-copyright
        .container
          | © 2016 Copyright
          a.grey-text.text-lighten-4.right(href='#!') Tecnológico de Monterrey
